@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Great+Vibes&family=Handlee&family=Indie+Flower&family=Josefin+Slab:ital,wght@0,400;1,300&family=Ms+Madi&family=Recursive:wght@300;400&family=Sacramento&family=Shadows+Into+Light&display=swap');

body {
    margin: 0;
    font-family: 'Sono', sans-serif;
    background-color: #000;
    color: #fff;
  }
  
  header {
    background-color: #111;
    color: white;
    padding: 20px;
  }
  
  h1 {
    margin: 0;
    font-size: 72px;
    font-family: 'Ms Madi', cursive;
    font-weight: 300;
    text-align: center;
  }

  header h3{
    font-family: 'Sono', sans-serif;
    font-weight: 300;
    text-align:center!important;
    font-size:24px;
  }
  
  main {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  
  .project {
    padding: 20px;
    background-color: #111;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255,255,255,0.2);
    transition: box-shadow 0.2s ease-in-out;
    
  }
  
  .project:nth-child(even) {
    background-color: #111;
  }
  
  .project:hover {
    box-shadow: 0 0 20px rgba(255,255,255,0.4);
    transition: box-shadow 0.3s ease-in-out;
  }
  

  .project:hover h2 {
    color: goldenrod;
  }

  h2 {
    font-size: 24px;
    margin: 0;
    margin-bottom: 10px;
    font-family: 'Recursive', sans-serif;
    color: #1fd655;
    position: relative;
  }
  
  h2::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: white;
    border-radius: 1px;
    z-index: -1;
  }
  
  p {
    margin: 0;
    margin-bottom: 20px;
    font-family: 'Sono', sans-serif;
  }
  
  .links {
    display: flex;
    flex-wrap: wrap;
  }
  
  .links a {
    margin-right: 10px;
    color: #1fd655;
    background-color: none;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid #1fd655;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }
  
  .links a:hover {
    background-color: #1fd655;
    color: #111;
    transition: all 0.2s ease-in-out;
  }
  
  footer {
    background-color: #111;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  
  p {
    font-size: 18px;
    line-height: 1.5;
  }
  
  


  /* Popup-Window */
  .popup-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #111;
    color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    border: #fff solid;
    border-radius: 10px;
    height: 120vh;
    width: auto;
    max-width: 90%;
    max-height: 90%;
    overflow:auto;
        
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #1fd655;
    font-weight: bold;
    font-size: 20px;
    border: none;
    background-color: transparent;
    outline: none;
  }
  
  .close-btn:hover {
    color: goldenrod;
  }
  
  .popup-content {
    margin-bottom: 10px;
  }
  
  .popup-content img {
    max-width: 100%;
  }
  
  .trigger-div {
    cursor: pointer;
    color: #1fd655;
    margin-top: 7.5px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid #1fd655;
    transition: all 0.3s ease-in-out;
    font-family: Sono, sans-serif;
    font-weight: bold;
    
  }
  
  .trigger-div:hover {
    background-color: #1fd655;
    color: #000;
  }
  
 *{
  text-decoration: none;

 }
  
  /* A quick explaination of how this effect works. A span elemnt won't have a width of it's own. So we convert it to an inline-block using the display property. Then we turn down the max-width of the element to 0. The reason we use max-width is due to a side-effect which is harder to explain in words so just try to replace that with width ;). You'll see that even when we changed the element's width to 0, it's still showing the text. For this we re gonna use overflow property and set it to hidden. To keep the text in one line and aligned properly, we are gonna use the white-space and vertical-align property as set below. The final thing we'll do is to give transition to the max-width property. */
  #hide {
    display: inline-block;
    max-width: 0%;
    vertical-align: bottom;
    overflow: hidden;
    white-space: nowrap;
    transition: max-width 0.7s ease-in-out;
  }
  
  h4 {
    cursor: default;
    font-size: 2vw;
    color: #1fd655;
    font-family: 'Recursive', sans-serif;
    text-align:center;
    text-decoration: none;
  }
  
  /* On hover of the h1 tag, we are gonna max out the max-width. */
  h4:hover #hide {
    max-width: 100%;
  }

  h4:hover #hide{
    text-decoration: underline goldenrod dashed;
  } 
  
  h4:hover {
    text-decoration: underline goldenrod dashed;
  }
  